.avatar {
  /* Rounded border */
  border-radius: 50%;

  /* Center the content */
  align-items: center;
  display: flex;
  justify-content: center;

  /* Size */
  height: 4rem;
  width: 4rem;
  border-radius: 50%;
}

.avatar__image {
  /* Size */
  height: 50px;
  width: 50px;
  border-radius: 50%;
}