.header-follow-routine {
  /* margin-top: 50px; */
  display: flex;
}

.banner {
  margin-top: 50px;
  background: #0054A6;
  padding: 30px 20px;
  border-radius: 10px;
  /* border: 1px solid #ddd */
}

.header-card {}

.card-routine {
  padding: 30px;
  border-radius: 10px;
  /* margin-top: 50px; */
  background-color: #fff;
  border: 1px solid #DBDBDB;
}

.title-banner2 {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;

  color: #fff;
}

.subtitle-banner {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 14px;
  margin-top: 10px;
  color: #fff;
}

.new-routine {
  padding: 10px 20px;
  background: #0054A6;
  border-radius: 8px;
  border: 0;
  color: #fff;
}

.finished-routine {
  padding: 10px 20px;
  background: #0054A6;
  border-radius: 8px;
  border: 0;
  color: #fff;
}

.notificacao {
  width: 100%;
  height: 200px;
}